#calculation-page-part{
    display: flex;
    justify-content: center;
}
#cal-calculation-page-part{
    display: flex;
    justify-content: center;
}

.bmi-block{
    width: 35%;
    margin-top: 40px;
    padding: 30px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}
.btn-style{
    display: inline-flex;
    margin: auto;
    justify-content: center;
    /* gap: 10px; */
}
.btn-style a{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.btn-style a:hover{
    color:aliceblue;
    background-color:#51C6CD;
    cursor: pointer;
}

.content-12{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 50PX;
    padding-top: 60px;
    width: 100%;
    align-items: center;
    /* background-image: linear-gradient(#51c6cd12, #51c6cd29,#51c6cdc2);
    background-image: linear-gradient(#afe2e191, #b8f9f8,#a6e0e9);
    background-image: linear-gradient(#51c6cd4d, #51c6cd4d,#51c6cd4d);
    background-image: linear-gradient(#51c6cd7a, #51c6cd21,#51c6cdc2); */
    background-image: linear-gradient(to bottom right, #51c6cd12, #51c6cd29,#51c6cdc2);
    /* background-image: linear-gradient(#51c6cd4a, #51c6cd9c,#51c6cdb0); */
    background-color: rgb(81 198 205 / 30%);
    box-shadow: 0px 0px 8px 1px grey;
    box-shadow: 0px 0px 5px 2px #d0bebe;
}
.input-design{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.input-design label{
    width: 25%;
    font-size: 18px;
}
.input-design span{
    width: 10%;
    text-align: center;
    font-size: 18px;
}
.input-design hr{
    width: 100%;
    border-style: none;
    border-bottom-style: solid;
    COLOR: #51c6cdc2;
}
.input-design input{
    width: 50%;
    padding: 7px 16px;
    background-color: #45cdd570;
    border: 0px;
}
.input-design input[type=radio]{
    width: 20%;
    /* display: none; */
}
.input-design select{
    width: 56%;
    padding: 7px 16px;
    background-color: #45cdd570;
    border: 0px;
}
.input-design #activity *{
    padding: 7px 16px;
    background-color: #45cdd570;
    border-radius: 10px;
}
input-design select > option{
    padding: 7px 16px;
    background-color: #45cdd570;
}
.mar-tp{
    margin-top: 40px;
}
.btn{
    background-color: #0E656A;
    color:white;
    padding: 8px 15px;
    text-decoration: none;
    box-shadow: none;
    border: none;
    font-size: 16px;
    margin: 10px 0px;
}
/* .btn-style :hover,:focus{*/
    /* background-color: #0e656aa8; */
/*} */
.gap-20{
    gap:30px;
}
.width-10{
    width: 10% !important;
}
.border-rght{
    border-right: 2px solid black;
}


/* check for option styling only */
/* 
.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    width: 56%;
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
}
.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #45cdd570;
    padding: 0 10px;
    font-weight: bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:14px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color: #45cdd570;
}
.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #84dbe0fc;
    background-color: white;
    background-color: #84dbe0fc;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.options li{
    padding:0 6px;
    margin:0 0;
    padding:5px 10px;
}
.options li:hover {
    background-color: #39f;
    background-color: #5eb8c6;
    color: white;
    color: black;
}  */