* {
  box-sizing: border-box;
}

.filter{
 padding: 15px 0px;
 width: 100%;
 margin: auto;
 position: fixed;
 position: sticky;
 top: 51px;
 top: 0px;
 overflow: hidden;
 z-index: 1;  
 background: white;
}

.filter h1{
display: none;
}
/* .items{
 padding-top: 8%;
 padding-bottom: 0px;
} */
.b{
 padding: 10px 14%;
 padding: 10px 12%;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

/* .row {
  margin: 8px -16px;
}*/

/* Add padding BETWEEN each column (if you want) */
/*
.row,
.row > .column {
  padding: 8px;
}
 */
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn-filter{
  border: none;
  margin-right:20px;
  outline: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  background-color: #80808069;
  color: white;
  border-radius: 20px;
}

/* Add a grey background color on mouse-over */
.btn-filter:hover {
  background-color: rgb(9, 239, 255);
  background-color: #808080bd;
}

/* Add a dark background color to the active button */
.btn-filter.active {
  background-color: rgb(15, 141, 158);
  background-color: #0f8d9ee0;
   color: black;
}