body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #51c6cd30;
}

form{
    width: 340px;
    /* border: 2px solid; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    padding: 4%;
    /* padding-left: 2%; */
    gap: 10px;
    /* text-align: center; */
    box-shadow: 0px 0px 24px 0px #2e6168;
    border: none;
    background-color: #51c6cdc9;
    background-color: rgb(81 198 205 / 30%);
    background-image: linear-gradient(#51c6cd45, #51c6cd78,#51c6cd);
    box-shadow: 0px 0px 10px 2px grey;
    box-shadow: 0px 0px 5px 2px #92ada9;
    border: 2px solid #51c6cd1a;
}
h2{
    text-align: center;
    color: #0E656A;
    font-size: 26px;
    text-transform: uppercase;
}
label{
    font-size: 20px;
    /* text-align: left; */
    margin: 8px;
}
.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
input{
    width: 90%;
    padding: 10px;
    margin: 8px;
    background: transparent;
    box-shadow: inset 0px 0px 9px 0px #1f5255;
    /* padding: 7px 16px; */
    background-color: #45cdd570;
    border: 0px;
    box-shadow: inset 0px 0px 8px 0px #0e656a;
}
button{
    width: 96%;
    margin: 8px;
    padding: 10px;
    background-color: #0E656A;
    color: white;
    text-transform: uppercase;
}