#content-block{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;
    background-color: #51c6cd38;
    background-image: linear-gradient(45deg, #51c6cd63, transparent);
}
#display-heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    padding: 25px;
    margin: 10px;
}
#display-heading h1{
    margin: 20px 10px;
    font-size: 30px;
    color: #0E656A;
    font-style: italic;
}
#display-heading p{
    margin: 20px 10px;
    font-size: 18px;
    color: #14888f;
    color: #484b4b;
    line-height: 1.4;
    font-style: oblique;
}
img{
    width: 596px;
    height: 600px;
}
@media (min-width: 844px) and (max-width: 917px){
    img {
        width: 543px;
        height: 591px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 28px;
        color: #0E656A;
        font-style: italic;
    }
}
@media (min-width: 780px) and (max-width: 845px){
    img {
        width: 509px;
        height: 583px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 24px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:17px;
    }
    
}
@media (min-width: 761px) and (max-width: 781px){
    img {
        width: 502px;
        height: 505px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 21px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:15px;
    }
    
}
@media (min-width: 700px) and (max-width: 762px){
    img {
        width: 450px;
        height: 492px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 18px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:13px;
    }
    
}

@media (min-width: 555px) and (max-width: 699px){
    img {
        width: 300px;
        height: 492px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 18px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:13px;
    }
    
}
@media (min-width: 494px) and (max-width: 554px){
    img {
        width: 250px;
        height: 350px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 15px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:13px;
    }
    

}
@media (min-width: 419px) and (max-width: 493px){
    img {
        width: 200px;
        height: 300px;
    }
    #display-heading h1 {
        margin: 20px 10px;
        font-size: 15px;
        color: #0E656A;
        font-style: italic;
    }
    #display-heading p {
       font-size:13px;
       margin: 18px 7px;
    font-size: 11px;
    
    color: #0a0f0f;
    line-height: 1.4;
    font-style: oblique;
}


    }
    @media (min-width: 385px) and (max-width: 419px){
        img {
            width: 200px;
            height: 300px;
        }
        #display-heading h1 {
            margin: 0px 2px;
            font-size: 15px;
            color: #0E656A;
            font-style: italic;
        }
        #display-heading p {
           font-size:13px;
           margin: 18px 7px;
        font-size: 11px;
        
        color: #0a0f0f;
        line-height: 1.4;
        font-style: oblique;
    }
}
    @media  (max-width: 385px){
        img {
            width: 150px;
            height: 250px;
        }
        #display-heading h1 {
            margin: 0px 2px;
            font-size: 12px;
            color: #0E656A;
            font-style: italic;
        }
        #display-heading p {
           font-size:13px;
           margin: 5px 2px;
        font-size: 9px;
        
        color: #0a0f0f;
        line-height: 1.4;
        font-style: oblique;
    }
    
    
        }
    

