/* nav-bar-design */
#nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 2;
    gap: 20%;
}
#logo{
    font-family: 'Arbutus Slab',serif;
    font-size: 28px !important;
    height: 30px;
    /* margin-left: 40px; */
}

#nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin: 0px 2%; */
    /* padding-left: 218px; */
}
#nav::before{
    content: "";
    background-color:#51C6CD ;
    position: absolute;
    height: 100%;
    width:100%;
    z-index:-1;
}
#nav ul li{
    font-family: 'Mukta', sans-serif;
    list-style-type: none;
    font-size: 1.08rem;
    padding: 10px 20px;
    text-transform: capitalize;
    position:relative;
}
#nav ul li a{
  text-decoration: none;
  display:block;
  color:black;
  padding:5px 5px;
    
} 

#nav ul li a:hover{
    color: white;
}
#nav ul li:hover{    
    /* background-color: #0E656A; */
    color: white;
    /* background-color: black; */
    /* opacity:0.2 ; */
    /* z-index:-2; */
  }
.paddleft-162{
    padding-left: 160px !important;
}
/* dropdown */
#nav ul li ul{
    background: #51C6CD;
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 10px;
	left: 0;
  display: none;
  z-index:1;
}
#nav ul li:hover > ul, ul li ul:hover{
    visibility:visible;
opacity: 1;
display: block;
}
#nav ul li ul li{
    clear: both;
    width: 100%;
}
/* image-bar-styling */
*{
    margin: 0;
    padding: 0;
}
.img-bar{
    width:100%;
    display:flex;
    overflow: hidden;
    height: 200px;
}
.img-bar img{
    /* width: 16.6666667%; */
    height: 200px;
}
.img-bar .image-box{
    overflow: hidden;
    box-sizing: border-box;
    display:block;
    width: 30%;
}
.img-bar .image-box img{
    width:100%;
	/* height: auto; */
	display: block;
    height: 200px;
    /* overflow: hidden; */
    transform: scale(1);
    transition: all .3s ease-in;
}
.image-box img:hover{
    transform: scale(1.2);
}
