#side-img-section{
    width: 25%;
    /* display: inline-block; */
    float: left;
}
#skincare{
    width: 100%;
    height: 604px;
   
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#skincare img{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: absolute;
    opacity: 1;
    overflow: hidden;
}
.center {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 36px;
    opacity: 1;
    font-weight: 500;
    color: #015e64;
    padding: 35px 55px;
    border: 4px solid;
    border-radius: 50%;
    background-color: #fcfafaad;
    opacity: 1;
}
#main-sc{
    width: 75%;
    display: inline-block;
}

#mental-img-text{
    font-size: 35px;
    width: 95%;
    padding: 46px 35px;
}
#haircare-img-text{
    font-size: 35px;
    width: 90%;
    padding: 50px 40px;
}
#yoga-img-text{
    width: 65%;
    padding: 48px 35px;
    font-size: 30px;
}
#exercise-img-text{
    width: 65%;
    padding: 48px 15px;
    font-size: 35px;
}
.scroll{
    height: 600px;
    overflow: hidden;
    overflow-y: auto;
}
.content-block{
    width:98%;
    padding:11px;
    padding-top: 0px;
}
/* .filter{
} */
.items{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 8%;
    /* justify-content: center; */
    gap: 40px;
}
.box-link{
    text-decoration: none;
    color: #000;
}
.box{
    background-color: antiquewhite;
    background-color: #51C6CD;
    /* width:25%; */
    width: 250.04px;
    overflow: hidden;
    display: block;
    transition: all .3s ease-in;
}
.box .image-wrap{
    display: block;
    overflow:hidden;
    box-sizing: border-box;
}
.box .img{
    width: 100%;
    height: auto;
    /* width: 245.04px; */
    height: 245.04px;
    display: block;
    transform: scale(1);
    transition: all .3s ease-in;
}
/* .box div{
    padding: 10%;
    text-align: center;
} */
.box:hover{
    box-shadow: 0px 0px 10px 2px gray;
    box-shadow: 0px 2px 4px 1px grey;
}
.box:hover .img{
    transform: scale(1.05);
}
.box:hover .box div{
    color: #000;
    color: teal;
    color: white;
}
.health-data-content{
    padding: 10%;
    text-align: center;
}
.box:hover h4{
    text-decoration: underline;
    color: teal;
    color: white;
}
@media (max-width: 340px){
    #side-img-section {
        display: none;
    }
    #main-sc {
        width: 100%;
    }
    .btn-filter{
        margin-right: 10px !important;
        padding: 12px 24px !important;
        font-size: 12px !important;
    }
    .filter{
        padding: 8px 0px !important;
    }
    .items{
        padding: 8px 2%;
        gap: 10px;
    }
    .box{
        width: 190.04px;
    }
    .box .img{
        height: 170.04px;
    }
    .b{
        padding: 10px 2% !important;
    }
    #s{
        bottom: 40px !important;
        right: 20px !important;
    }
}
@media (max-width: 468px) and (min-width: 340px){
    #side-img-section {
        display: none;
    }
    #main-sc {
        width: 100%;
    }
    .btn-filter{
        margin-right: 10px !important;
        padding: 12px 24px !important;
        font-size: 12px !important;
    }
    .filter{
        padding: 8px 16% !important;
    }
    .items{
        padding: 8px 17%;
        gap: 15px;
    }
    .box{
        width: 200.04px;
    }
    .box .img{
        height: 180.04px;
    }
    .b{
        padding: 10px 2% !important;
    }
    #s{
        bottom: 40px !important;
        right: 20px !important;
    }
}
@media (max-width: 534px) and (min-width: 468px){
    #side-img-section {
        display: none;
    }
    #main-sc {
        width: 100%;
    }
    .items{
        padding: 20px 3%;
        gap: 10px;
    }
    .box{
        width: 200.04px;
    }
    .box .img{
        height: 190.04px;
    }
    .b{
        padding: 10px 2% !important;
    }
}
@media (max-width: 630px) and (min-width: 534px){
    #side-img-section {
        display: none;
    }
    #main-sc {
        width: 100%;
    }
    .items{
        padding: 30px 3%;
        gap: 20px;
    }
    .box{
        width: 225.04px;
    }
    .box .img{
        height: 215.04px;
    }
}
@media (max-width: 720px) and (min-width: 630px){
    #side-img-section {
        width: 38%;
    }
    #main-sc {
        width: 62%;
    }
    .center{
        font-size: 28px;
    }
}
@media (min-width: 720px) and (max-width: 900px){
    #side-img-section {
        width: 44%;
    }
    #main-sc {
        width: 55%;
    }
}
@media (min-width: 900px) and (max-width: 1000px){
    #side-img-section{
        width:35%;
    }
    #main-sc{
        width: 65%;
    }
    .center{
        font-size: 30px;
    }
    .box{
        width: 230.04px;
    }
    .items {
        padding: 30px 3%;
        gap: 30px;
    }
    .box{
        width: 230.04px;
    }
    .box .img{
        height: 230.04px;
    }
}
@media (min-width: 1000px) and (max-width: 1150px){
    #side-img-section{
        width: 32%;
    }
    #main-sc{
        width:68%;
    }
    .items{
        padding: 20px 8%;
        gap: 40px;
    }
}
@media (min-width: 1150px) and (max-width: 1350px){
    #side-img-section{
        width: 26%;
    }
    #main-sc{
        width: 74%;
    }
    .items{
        padding: 25px 3%;
        padding-right: 0px;
        gap: 34px;
    }
    .box{
        width: 238.04px;
    }
    .box .img{
        height: 230.04px;
    }
}
@media (min-width: 1350px) and (max-width: 1400px){
    .items{
        padding: 30px 7%;
        gap: 38px;
    }
}