.ds{
	background-color: #9ad0d350;
	text-align: justify;
	margin:20px;
}

.padd{
	padding: 0px 3%;
}

.fst{
	font-style:italic;
	color:#00688B;
	font-weight:bold;
	text-align:center;
	font-size:18px;
	padding: 4px 3%
}

.f{
	text-decoration: underline #00688B;
}

.sc{
	/*text-align:center;*/
	color:#00688B;
	/*font-style:italic;*/
	font-weight:bold;
	/*font-family:Times New Roman;*/
	}

.th{
	font-weight:bold;
	font-size:14px;
	font-family:Times New Roman;
	/*color:#00688B;*/
}
