body{
    margin: 0px;
}
section{
    padding: 15px 40px;
}
.heading{
    font-size: 24px;
    text-align: center;
    padding: 36px;
    box-shadow: 0px 0px 12px 1px lightblue;
    background-color: #51c6cd80;
    background-image: linear-gradient(45deg, #51c6cd, transparent), url('../images/hairoil.jpg');
    background-size: cover;
    background-position: 2% 28%;
    margin: 10px 0px;
}
.heading h1{
    margin: 0px;
}
.heading p{
    font-size: 16px;
    padding: 4px;
}
.user-tips{
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}
.user-tips  .items{
    margin: 15px 0px;
    padding: 22px 40px;
    /* border: 1px solid black; */
    background-color: #50a3ab4f;
    box-shadow: 0px 0px 6px 0px #8b9090;
}
.user-tips .bg2{
    background-color: #50a3aba1;
}
.user-tips  .items h2{
    margin: 0.83em 0em;
    font-size: 22px;
}
.user-tips  .items p{
    margin: 1em 0em;
}
.color-blue{
    color: #0d82b2;
    font-weight: 500;
}
.user-name{
    padding-left: 12px;
    border-left: 2px solid #0288d1;
    font-size: 15px;
    color: #263238;
}
.user-name p{
    margin: 0.6rem 0rem;
}
.user-name p > span{
    color: #263238;
}
.read-more-btn{
    color: #0288d1;
    cursor: pointer;
}
.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}
/* Ckeditor design */
.give-tips{
    text-align: center;
    font-size: 23px;
    color: gray;
    padding: 12px;
    margin-bottom: 1rem;
}
.blog-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.blog-title i{
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #d3d3d354;
}
.blog-title input{
    width: 100%;
    padding: 2px 12px;
    border: 1px solid lightgray;
}
.blog-title input::after{
    border: 1px solid lightgray;
}
form{
    width: 80%;
    margin: auto;
}
.btn{
    width: 100%;
    margin: 8px 0px;
    color: white;
    padding: 8px;
    background-color: #0E656A;
    border: solid 3px #0d0c0c0a;
    letter-spacing: 0.7px;
}

/* Tooltip Css */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #00000099;
    color: #cecaca;
    text-align: center;
    border-radius: 6px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 134%;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #00000099 transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .user-tips .items:nth-child(odd){
    background-color: #50a3ab4f;
  }
  .user-tips .items:nth-child(even){
    background-color: #50a3aba1;
  }